<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Demo for retrieve from Salesforce Org</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Ant plugin="ant@1.5">
      <targets>retrieveUnpackaged deployCodeCheckOnly</targets>
      <buildFile>C:\Users\Sandeep665\Desktop\Saleforce Migration Tools\salesforce_ant_39.0\sample</buildFile>
    </hudson.tasks.Ant>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>